@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));



:root {
  --light: #ffffff;
  --primary-dark: #242628;
  --light-grey: #242628;
  --selected-light-grey: #3a3c3d;
  --dark-grey: #161618;
  --light-text: #f9f8f6;



  --primary: #161618;
  --secondary: #ffffff;
  --text: #3a3c3d;
  --hover: #b9c3c4;
  --body:#f9f8f6;
  --chatinput:#cbcfd3;

}

.dark{

  --body:#161618;
  --primary : #ffffff;
  --secondary: #161618; 
  --text: #f9f8f6;
  --chatinput: #242628;

  --hover: #3a3c3d;
}

html, body {
  height: 100%;
}

@layer components {
  .ff {
    @apply flex justify-center items-center;
  }
}